appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fonttools
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
wcwidth
